:root {
  --main-color: #000;
  --main-bg-color: #ffc927;
  --accent-color: #88171b;
  --accent-dark-color: #784c44;
  --accent-bg-color: #fff;
}

* { margin: 0px; padding: 0px; transition: all 0.314156s ease-out 0.0s; }
html, body { width: 100%; min-height: 100%; min-height: 100vh; font-size: 23px; }
.centering, body, section { display: flex; justify-content: top; align-items: center; flex-direction: column; }

.vertical-flex { display: flex; flex-flow: row wrap; }
.vertical-flex > div { margin: 1rem; width: 10rem !important; flex-grow: 1; }

body { align-items: initial;
       font-family: "Tinos";
       background: #fff; }

header { display: flex; flex-flow: row wrap; justify-content: space-between; background-color: var(--main-bg-color); }
header > * { margin: 0.6rem 1rem; }

#logo { display: flex; flex-flow: row wrap; align-items: baseline; font-size: 2rem; }
#logo > a { display: block; margin: 0px 0.2rem; padding: 0px; color: var(--main-color); text-decoration: none; }
#logo > a:hover { text-decoration: underline; }
#logo img { margin: 0px; max-height: 2rem; }

/*.menu { background: url('img/Eingang_markiert.jpg'); }*/
menu { flex-flow: row wrap; justify-content: space-around; }
menu a, #user-icon a { flex-grow: 1; display: inline-block; min-width: 112px; margin: 0.1rem; padding: 0.7rem; white-space: nowrap; text-align: center; border: 2px solid var(--accent-dark-color); background: var(--accent-color); color: var(--accent-bg-color); }
menu a:hover, #user-icon a:hover { background: var(--accent-dark-color); }

#user-icon a img { border-radius: 50%; margin: 0; width: 1em; vertical-align: bottom; }

.main { background-image: url('img/Wolke_20170720_211824.jpg'); background-blend-mode: color; background-blend-mode: screen; }

.flex_rows { display: flex; flex-direction: row; }
.flex_rows > * { margin-left: 6px; }

section[class] { background-color: rgba(255,255,255, 0.6); background-size: cover; background-position: center; }

section { min-height: 42vh; padding: 23px; }

h1 { margin: 12px; padding: 6px; font-weight: 600; font-size: 1.6rem; text-align: center; }
h2 { margin: 10px; padding: 6px; font-weight: 600; font-size: 1.41rem; }
h3 { margin: 6px; padding: 6px; font-weight: 600; font-size: 1.2rem; }

p, ul, .main div { margin-bottom: 0.7rem; width: 100%; }

ul { list-style: disc; margin-left: 2rem; width: calc(100% - 2rem); }

iframe { margin: 6px; border: 1px solid black; width: 100%; }

img { margin: 16px 0px; max-width: 100%; object-fit: contain; }

a { color: #338; padding: 0.7rem 0px; }

b, strong { font-weight: 600; }

sub { font-size: 0.6em; }

/* requires scrollControl.js */
.scrolloff iframe { cursor: pointer; pointer-events: none; }


@font-face {
  font-family: 'Oxygen Mono';
  src: local('Oxygen Mono'), url('oxygen-mono-regular.woff'), url('oxygen-mono-regular.ttf');
}

@font-face {
  font-family: 'Tinos';
  src: local('Tinos'), url('Tinos-Regular.ttf');
}

@media (min-width: 700px) {
    section { padding: 42px 8%; min-height: 36vh; }
    img, .menu div { max-width: 700px; }
}

@media (min-width: 1020px) {
    /*header { flex-flow: column nowrap; }
    header > * { max-width: 720px; margin: 0.6rem auto; }*/
    section { padding: 42px 13%; min-height: 42vh; }
}
