<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block title %}{% endblock title %} - No Password Login</title>
            <meta property="og:url" content="https://1fa.estada.ch" />
            <meta property="og:title" content="No Password Login - 1fa.estada.ch" />
            <meta property="og:site_name" content="Demo Application for a Password-Less Workflow" />
            <meta property="og:description" content="Demo Application for a Password-Less Workflow" />
            <meta property="og:image" content="/static/favicon.png" />
            <meta property="og:locale" content="en_CH" />

            <link rel="icon" href="/static/favicon.png" type="image/png" />
            <!-- Chrome, Firefox OS, Opera and Vivaldi -->
            <meta name="theme-color" content="#ff2727">
            <!-- Windows Phone -->
            <meta name="msapplication-navbutton-color" content="#ff2727">
            <!-- iOS Safari -->
            <meta name="apple-mobile-web-app-status-bar-style" content="#ff2727">
            <meta name="msapplication-TileColor" content="#ff2727">

            <link href="/static/reset.css" rel="stylesheet" />
            <link href="/static/style.css" rel="stylesheet" />

            <meta name="monetization" content="$ilp.uphold.com/3mZJdzxniURN">
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="/"> <img src="/static/favicon.svg" loading="lazy" alt="logo" /> </a>
                <a href="/"> <strong>No Password Login</strong> </a>
                <a href="/"> <sub>1fa.estada.ch</sub> </a>
            </div>
            <menu>
                {% if user_authenticated %}
                <a href="/">Start</a>
                <a href="/me">Your profile</a>
                {% endif %}
            </menu>
            <div id="user-icon">
            {% if user_authenticated %}
                <a href="/me/logout">Logout <img src="/me/identicon?{{ user_email }}" alt="identicon" /></a>
            {% else %}
                <form method="post" action="/me/login" autocomplete="on">
                    <label>E-Mail: <input type="text" autocomplete="on" name="email" spellcheck="false"{% if user_email %} value="{{ user_email }}"{% endif %} /></label>
                    <input type="submit" value="Login" />
                </form>
            {% endif %}
            </div>
        </header>
        <section class="main">
            {% block body %}{% endblock %}
        </section>
        <footer>Version {{ GIT_VERSION }}</footer>
    </body>
</html>
