{% extends "base.html" %}

{% block title %}Confirm your E-Mail{% endblock title %}

{% block body %}
    <h1>Confirm your E-Mail</h1>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    {% if email_sent %}
    <p>
        {% if new_email %}<b>New</b>{% endif %} E-Mail sent to <b>{{ user_email }}</b> 📧 <br>
        Please check your Inbox and Spam folders for the login link
    </p>
    {% endif %}
{% endblock %}
