{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <h1>1FA No Password Login Demo</h1>
    <p>
        This project is a showcase for a passwordless system.
        You can register an account by logging in, then confirming the email by clicking the containing link.
    </p>
    <p>
        Your current session state: {{ session_state }}
    </p>
{% endblock %}
