{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Profile of {{ user_email }}</h1>
    <div class="vertical-flex">
            <img src="/me/identicon?{{ user_email }}" />
        <div>
            <p>
                Activiy:
            </p>
            <ul>
            {% for a in activities %}
                <li>{{a.0}}: {{a.1}}</li>
            {% else %}
                No Activity
            {% endfor %}
            </ul>
        </div>
{% endblock %}
