{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Set you wireguard public key</h1>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    <div>
        <form method="post" action="/me/set-own-key">
            <label>Public Key: 
                <input type="text" name="public_key" minlength="4" spellcheck="false" autofocus="autofocus" required="required"{% if public_key %} value="{{ public_key }}"{% endif %} />
            </label>
            <input type="submit" value="Update Public Key" />
        </form>
    </div>
{% endblock %}
