{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Sign in first</h1>
    {% for message in messages %}
        <div class="warning">{{ message }}</div>
    {% endfor %}
    <p>
        <form method="post" action="/me/login?next={{ next }}" autocomplete="on">
            <label>E-Mail: <input type="text" autocomplete="on" name="email" autofocus="autofocus" spellcheck="false"{% if user_email %} value="{{ user_email }}"{% endif %} /></label>
            <input type="submit" value="Login" />
        </form>
    </p>
{% endblock %}
